body {
	font-family: 'Prompt', sans-serif;
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.homescreane header {
	color: hsl(0, 0%, 0%);
	padding: 20px;
	padding-top: 150px;
	padding-bottom: 75px;
	text-align: center;
}
.portfolioscrean header {
	color: hsl(0, 0%, 0%);
	padding: 20px;
	padding-top: 10px;
	padding-bottom: 30px;
	text-align: center;
}
h1 {
	font-family: 'Special Elite', system-ui;
}
a {
	color: black;
	text-decoration: none;
	padding: 10px;
}
.portfolio-container {
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
	padding: 20px;
	max-width: 1000px;
	margin: 0 auto;
	margin-top: 50px;
	margin-bottom: 150px;
}

.portfolio-item {
	width: 600px;
	margin: auto;
	/* border: 1px solid #ddd; */
	border-radius: 5px;
	padding: 20px;
	padding-top: 30px;
	padding-bottom: 30px;
	text-align: left;
	background-color: #ffffff;
	box-shadow: 0 4px 8px rgba(233, 233, 233, 0.1);
	position: static;
	bottom: 0;
	right: 0;
}

.portfolio-item img {
	width: 100%;
	height: auto;
	border-radius: 5px;
}

.portfolio-item h3 {
	font-family: 'Raleway', sans-serif;
	font-size: 1.5em;
	text-transform: lowercase;
	font-weight: 900;
	font-style: normal;
	margin-top: 10px;
	margin-bottom: 10px;
}

.portfolio-item p {
	font-family: 'Raleway', sans-serif;
	text-transform: lowercase;
	font-weight: 500;
	font-style: normal;
	text-align: justify;
}

.portfolio-item a {
	text-decoration: none;
	color: #007bff;
	font-family: 'Raleway', sans-serif;
	font-weight: 500;
	font-style: italic;
	padding-left: 0;
}
.homescreane {
	box-sizing: content-box;
	display: inline-block;
	width: 90vw;
	height: 90vh;
	margin: 20px;
	margin-bottom: 40px;
	padding: 20px;
	position: relative;
}
.portfolioscrean {
	position: sticky;
	left: auto;
	right: auto;
	top: 0;
	bottom: auto;
	box-sizing: content-box;
	display: inline-block;
	width: 90vw;
	height: 30px;
	margin: 20px;
	padding: 20px;
	background-color: hsl(0, 0%, 100%);
	z-index: 999;
}
.navigation_home {
	padding: 25px;
	margin: 25px;
	margin-top: 60vh;
	display: flex;
	background-color: hsl(0, 0%, 100%);
	font-family: 'Prompt', sans-serif;
	font-size: 16px;
	position: relative;
	min-width: 350px;
}
.navigation_second {
	position: absolute;
	padding: 10px;
	background-color: hsla(0, 0%, 100%, 0);
	font-family: 'Prompt', sans-serif;
	font-size: 16px;
	position: relative;
	min-width: 350px;
	top: 0;
}
.bottom_left {
	position: absolute;
	top: 0;
	left: 0;
}
.bottom_right {
	position: absolute;
	top: 0;
	right: 0;
	font-weight: bold;
}
.h1_second {
	font-size: large;
	position: absolute;
	right: 0;
	left: 0;
	top: 15px;
	bottom: 0;
}
footer {
	background-color: #000; /* Черный фон */
	color: #fff; /* Белый текст */
	padding: 20px 0;
	text-align: center;
	width: 100%; /* Полная ширина */
	bottom: 0;
	top: auto;
}
.footer-content {
	padding: 0 20px; /* Отступы по бокам */
	font-family: 'Prompt', sans-serif;
}
.footer-content p {
	margin: 0;
	font-size: 0.9em;
}
.bottom_left a:hover {
	text-decoration: underline;
}
.bottom_right a:hover {
	text-decoration: underline;
}
.stuff {
	position: relative;
	margin-top: 100px;
	margin-bottom: 200px;
}
.gallery-container {
	display: flex;
	gap: 20px;
	padding-bottom: 150px;
}

.gallery-container img {
	width: 450px; /* Задаем ширину для каждой картинки */
	height: auto;
	border-radius: 5px;
}
.product-gallery {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 20px;
	max-width: 1200px;
	width: 100%;
}

.product-card {
	background-color: #fff;
	border-radius: 8px;
	overflow: hidden;
	text-align: center;
	padding: 20px;
	position: relative;
	margin-bottom: 50px;
}

.product-card img {
	width: 100%;
	height: auto;
	border-radius: 5px;
}

.product-card h2 {
	font-size: 1.2em;
	margin-top: 10px 0;
	text-align: left;
	font-family: 'Prompt', sans-serif;
}

.product-card .price-size {
	display: flex;
	justify-content: space-between;
	margin: 10px 0;
	font-family: 'Prompt', sans-serif;
	color: hwb(0 22% 78%);
}

.sold-out-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.514);
	color: rgb(255, 255, 255);
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 3em;
	font-weight: bold;
	/*text-transform: uppercase;*/
	border-radius: 8px;
	font-family: 'Fleur De Leah', cursive;
}
.portfolio-gallery {
	margin-top: 50px;
	margin-bottom: 150px;
}
/* Десктопная версия навигации */
.navigation_home ul,
.navigation_second ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
	display: flex;
	align-items: center;
}

.navigation_home ul li,
.navigation_second ul li {
	margin: 0 5px;
}

.navigation_home ul li a,
.navigation_second ul li a {
	text-decoration: none;
	color: black;
	font-family: 'Prompt', sans-serif;
}

/* Добавляем стиль для символа "/" */
.navigation_home ul li span,
.navigation_second ul li span {
	color: black;
	margin: 0 5px;
}

/* Скрытие кнопки мобильного меню на десктопе */
.mobile-menu-toggle {
	display: none;
}
/* Мобильная версия */
@media (max-width: 1024px) {
	/* Кнопка для открытия навигации на мобильных устройствах */
	.mobile-menu-toggle {
		display: inline-block;
		position: absolute;
		right: 30px;
		top: 20px;
		background: none;
		border: none;
		font-size: 24px;
		cursor: pointer;
		z-index: 1001;
	}
	.homescreane .mobile-menu-toggle {
		top: 170px;
	}
	.product-gallery {
		grid-template-columns: repeat(1, 1fr);
	}
	.bottom_right,
	.bottom_left {
		position: relative;
		top: 0;
		bottom: 0;
		justify-content: center;
		align-items: center;
		margin-bottom: auto;
		margin-top: 50px;
	}
	.homescreane {
		box-sizing: content-box;
		display: inline-block;
		position: relative;
		margin: 0;
		padding: 0;
	}

	/* Навигация на мобильной версии */
	.navigation_home {
		display: none; /* Скрываем по умолчанию */
		position: fixed;
		margin: 0;
		padding: 0;
		border: 0;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(255, 255, 255, 0.95);
		justify-content: center;
		align-items: center;
		z-index: 1000;
	}

	.navigation_home ul {
		list-style-type: none;
		padding: 0;
		margin: 0;
		margin-top: auto;
		text-align: center;
	}

	.navigation_home ul li {
		margin: 20px 0; /* Отступы между элементами */
	}

	.navigation_home ul li a {
		text-decoration: none;
		color: black;
		font-family: 'Prompt', sans-serif;
		font-size: 1.2em; /* Увеличенный текст */
	}

	/* Отображаем навигацию при активном классе */
	.menu-active .navigation_home,
	.menu-active .navigation_second {
		display: flex; /* Показываем навигацию */
		flex-direction: column;
	}
	.portfolioscrean {
		box-sizing: content-box;
		display: inline-block;
		position: sticky;
		top: 0;
		left: 0;
		/* до этого было position relative, top auto */
	}
	.navigation_second {
		display: none; /* Скрываем по умолчанию */
		position: fixed;
		margin: 0;
		padding: 0;
		border: 0;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(255, 255, 255, 0.95);
		justify-content: center;
		align-items: center;
		z-index: 1000;
	}
	.navigation_second ul {
		list-style-type: none;
		padding: 0;
		margin: 0;
		margin-top: auto;
		text-align: center;
	}
	.navigation_second ul li {
		margin: 20px 0; /* Отступы между элементами */
	}
	.navigation_second ul li a {
		text-decoration: none;
		color: black;
		font-family: 'Prompt', sans-serif;
		font-size: 1.2em; /* Увеличенный текст */
	}
	footer {
		bottom: 0;
	}
	.portfolio-container {
		display: flex;
		/* flex-wrap: wrap; */
		gap: 20px;
		padding: 20px;
		max-width: 600px;
		margin: 0 auto;
		margin-top: 50px;
		margin-bottom: 150px;
	}
	.portfolio-item img {
		max-width: 600px;
		height: auto;
		border-radius: 5px;
	}
	.portfolio-item p,
	h3,
	a {
		max-width: 600px;
	}
	.portfolio-gallery {
		max-width: 600px;
	}
	.portfolio-item {
		max-width: 600px;
		width: auto;
	}
	.product-gallery {
		max-width: 600px;
	}
}
@media (max-width: 720px) {
	.portfolio-gallery {
		max-width: 300px;
	}
	.portfolio-item {
		max-width: 300px;
		width: auto;
	}
	.product-gallery {
		max-width: 300px;
	}
	.portfolio-item p,
	h3,
	a {
		max-width: 300px;
	}
	.portfolio-item img {
		max-width: 300px;
		height: auto;
		border-radius: 5px;
	}
	.portfolio-container {
		display: flex;
		/* flex-wrap: wrap; */
		gap: 20px;
		padding: 20px;
		max-width: 300px;
		margin: 0 auto;
		margin-top: 50px;
		margin-bottom: 150px;
	}
}
